*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

.container
{

	width: 70%;
	height: auto;
	/*padding: 10px;*/
	margin: 0 auto;
	border: 1px solid black;


	/*color: blue;*/


}

.container p
{
/*	margin: 15px 0px;*/
	font-size: 18px;
	color: #434343;
	padding: 0px 20px;
}

.container h1
{
	margin-top: 15px;
	text-align: center;
}

p.otroparrafo
{
	font-family: "Arial";
	color: #434343;
}

.cabecera
{
	box-shadow: 10px 15px 30px 0px rgba(0,0,0,0.5);
}

.cabecera p
{
	background-color: #4F6CF8;
	color: white;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
}

.cabecera span
{
	padding-left: 25px;
	font-size: 25px;
	color: #F0F0F0;
	font-weight: normal;
}

.post p
{
	padding: 25px 10px;
}

.logo
{
	/*display: inline-block;*/
	background-image: url('../imagenes/dragon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-right: 10px
}


.footer
{
	text-align: center;
	/*color: white;*/
	background-color: #595858;
}

.footer p
{
	color: white;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 10px;
}










/**
{
	padding: 10px;
	margin-bottom: 5px;
}

header 
{
	background-color: #C3FAD9;
	font-size: 27px;
}

.container
{
	background-color: #B7AEFB;
	color: #FD1105;
}

footer
{
	background-color: #D3DCA0;
}

h1,h2
{
	text-align: center;
	font-family: "Arial";
}*/