*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body
{
	background-color: #393939
}

main.container
{
	background-color: white;
	width: 70%;
	height: auto;
	margin: 0 auto;
	border: 1px solid black;

}

.container p
{

	font-size: 18px;
	color: #434343;
	padding: 0px 20px;
}

.container h1
{
	margin-top: 15px;
	text-align: center;
}

p.otroparrafo
{
	font-family: "Arial";
	color: #434343;
}

.cabecera
{
	box-shadow: 10px 15px 30px 0px rgba(0,0,0,0.5);
}

.cabecera p
{
	background-color: #4F6CF8;
	color: white;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
}

.cabecera span
{
	padding-left: 25px;
	font-size: 25px;
	color: #F0F0F0;
	font-weight: normal;
}

.post p
{
	padding: 25px 10px;
}

.logo
{
	background-image: url('../imagenes/dragon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-right: 10px
}

.footer
{
	text-align: center;
	background-color: #7C7B7B;
}

.footer p
{
	color: white;
	font-size: 22px;
	text-align: center;
	padding: 10px;
	letter-spacing: 3px;
	font-weight: bold;
}


.post img
{
	display: block;
	margin: 0 auto;
}


